# Ignore everything
*

# Allow only these configs
!.gitignore
!.zshrc
!/README.md
!/alacritty/
!/alacritty/*
!/bat/
!/bat/*
!/helix/
!/helix/*
/helix/runtime
!/nvim/
!/nvim/*
!/nvim/lua/*
/nvim/plugins/
!/starship.toml
!/tmux/
!/tmux/*
!/wezterm/
!/wezterm/*
!/zellij/
!/zellij/*
