# Ignore everything
*

# Allow only these configs
!.gitignore
!.zshrc
!/README.md
!/bat/
!/bat/*
!/bat/themes/
!/bat/themes/*
!/ghostty/
!/ghostty/*
!/ghostty/themes/
!/ghostty/themes/*
!/helix/
!/helix/*
/helix/runtime
!/starship.toml
