# Ignore everything
*

# Allow only these configs
!.gitignore
!/README.md
!/starship.toml
!/alacritty/
!/alacritty/*
!/bat/
!/bat/*
!/tmux/
!/tmux/*
!/zellij/
!/zellij/*
!/helix/
!/helix/*
/helix/runtime
!/nvim/
!/nvim/*
!/nvim/lua/*
/nvim/plugins/
!.zshrc
